.ant-timeline-item-head {
  transform: rotate(90deg) translateY(10px) !important;
}
.ant-timeline-item-head:hover + .ant-timeline-item-content {
  transform: rotate(90deg) translateY(-10px) scale(1.2) !important;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
}
